<%- include('partials/head') %>
<%- include('partials/nav') %>
<body>
  <h1>Home</h1>
  <p>Welcome to the home page</p>
  <a href="/about">About</a>
  <a href="/rand">Random #</a>
  <a href="/cats">All Cats</a>


</body>
</html>